body
{
    text-align: center;
}

#app {
    background-color:aquamarine;
}

#myCarousel
{
    background-color:lightcoral;
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
    background-color: aqua;
}

.carousel-inner p
{
    margin-top: 15px;
    color :black;
    font-size: 20px;
}


h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}

#app {
    background-color: cornflowerblue;
}
#chatbot{
    background-color: darkorange;
}
.line{
    height: 6px;
    background-color: azure;
    width: 70px;
    margin: 8px auto;

}
h2 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    background-color: lightcoral;
}
